In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set(style="darkgrid")
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn')

In [2]:
df = pd.read_csv('cleaned_books.csv')
df = df.drop('Unnamed: 0', 1)
df.head()

,publisher,author,isbn,date,title,weeks_on_list,no_of_words_title
0,Riverhead,Paula Hawkins,1594634025,2017-02-19,THE GIRL ON THE TRAIN,102,5
1,Scribner,Anthony Doerr,1501173219,2017-05-07,ALL THE LIGHT WE CANNOT SEE,81,6
2,Vintage,E L James,0525431888,2017-03-05,FIFTY SHADES DARKER,66,3
3,St. Martin's,Kristin Hannah,1466850604,2017-10-29,THE NIGHTINGALE,63,2
4,Penguin Group,Kathryn Stockett,1440697663,2012-04-08,THE HELP,58,2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2248 entries, 0 to 2247
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   publisher          2248 non-null   object
 1   author             2248 non-null   object
 2   isbn               2248 non-null   object
 3   date               2248 non-null   object
 4   title              2248 non-null   object
 5   weeks_on_list      2248 non-null   int64
 6   no_of_words_title  2248 non-null   int64
dtypes: int64(2), object(5)
memory usage: 123.1+ KB

In [6]:
# Limit the ranges in columns to remove outliers
df = df.loc[(df['weeks_on_list'] <= 40)].copy()
df = df.loc[(df['no_of_words_title'] <= 6)].copy()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216 entries, 8 to 2247
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   publisher          2216 non-null   object
 1   author             2216 non-null   object
 2   isbn               2216 non-null   object
 3   date               2216 non-null   object
 4   title              2216 non-null   object
 5   weeks_on_list      2216 non-null   int64
 6   no_of_words_title  2216 non-null   int64
dtypes: int64(2), object(5)
memory usage: 138.5+ KB

In [8]:
df['popularity'] = np.where(df.weeks_on_list >= 5, True, False)
df.head()

,publisher,author,isbn,date,title,weeks_on_list,no_of_words_title,popularity
8,Berkley,Liane Moriarty,0425274861,2017-05-21,BIG LITTLE LIES,38,3,True
9,Ballantine,Lisa Wingate,0425284697,2018-06-09,BEFORE WE WERE YOURS,35,4,True
10,Scout,Ruth Ware,1501132954,2017-10-08,THE WOMAN IN CABIN 10,35,5,True
11,Penguin Press,Celeste Ng,0735224307,2018-06-09,LITTLE FIRES EVERYWHERE,31,3,True
12,Knopf Doubleday Publishing,Stieg Larsson,0307272117,2013-01-13,THE GIRL WITH THE DRAGON TATTOO,31,6,True

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216 entries, 8 to 2247
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   publisher          2216 non-null   object
 1   author             2216 non-null   object
 2   isbn               2216 non-null   object
 3   date               2216 non-null   object
 4   title              2216 non-null   object
 5   weeks_on_list      2216 non-null   int64
 6   no_of_words_title  2216 non-null   int64
 7   popularity         2216 non-null   bool
dtypes: bool(1), int64(2), object(5)
memory usage: 140.7+ KB

In [10]:
df['popularity'].value_counts(normalize=True)

False    0.930957
True     0.069043
Name: popularity, dtype: float64

# Save all changes to a new csv file

In [11]:
df.to_csv('cleaned_books_modeling.csv')